$fire: #268e50;
$secFire: #1a6036;
$thirdFire: black;
$forthFire: #2faf62;

.banner-bug {
  background: rgb(253, 253, 255);
  color: white;
  background: linear-gradient(
    90deg,
    rgba(253, 253, 255, 1) 0%,
    $fire 40%,
    rgba(0, 0, 0, 1) 56%,
    $secFire 81%,
    $fire 95%
  );
}

.search-bar-bug {
  background-color: $fire;
}
.search-input-bug {
  border: 5px solid $thirdFire;

  color: black;
  background-color: $secFire;
}

.btn-bug {
  background-color: $secFire;
  border: 5px solid black;
}

.main-img-container-bug {
  background-color: $fire;
}
.main-img-bug {
  border: 5px solid $thirdFire;
  background-color: $secFire;
}

.description-bug {
  color: white;
  background-color: $fire;
 
}
.name-type-bug{
  color:$fire;
}

.details-btn-bug {
  box-shadow: 1px 1px 1px $thirdFire;
  color: $thirdFire;
  background-color: $secFire;
  border: 5px solid black;
}



.moves-container-bug {
  color: white;
  background-color: $secFire;
  border: 5px solid $fire;
}


.details-img-bug {
  border: 5px solid $fire;
  background-color: black;
}

.singleSuggestion-bug:hover{
  background-color: $fire;
  font-size: 21px;
  border: 2px solid black;
}

.singleSuggestion-bug{
 
  background-color: $secFire;
  border: 1px solid $fire;
}

.evo-container-bug{
  color:$fire;
  font-size: 3vh;
  border: 10px solid $secFire;
  
}

.evo-container-bug:hover{
  background-color: $secFire;
  color: black;
  border-color: white;
}