$fire: #4f4543;
$secFire: #898685;
$thirdFire: black;
$forthFire: #adadad;

.banner-dark {
  background: rgb(253, 253, 255);
  color: white;
  background: linear-gradient(
    90deg,
    rgba(253, 253, 255, 1) 0%,
    $fire 40%,
    rgba(0, 0, 0, 1) 56%,
    $secFire 81%,
    $fire 95%
  );
}

.search-bar-dark {
  background-color: $fire;
}
.search-input-dark {
  border: 5px solid $thirdFire;

  color: black;
  background-color: $secFire;
}

.btn-dark {
  background-color: $secFire;
  border: 5px solid black;
}

.main-img-container-dark {
  background-color: $fire;
}
.main-img-dark {
  border: 5px solid $thirdFire;
  background-color: $secFire;
}

.description-dark {
  color: white;
  background-color: $fire;
 
}
.name-type-dark{
  color:$fire;
}

.details-btn-dark {
  box-shadow: 1px 1px 1px $thirdFire;
  color: $thirdFire;
  background-color: $secFire;
  border: 5px solid black;
}



.moves-container-dark {
  color: white;
  background-color: $secFire;
  border: 5px solid $fire;
}


.details-img-dark {
  border: 5px solid $fire;
  background-color: black;
}

.singleSuggestion-dark:hover{
  background-color: $fire;
  font-size: 21px;
  border: 2px solid black;
}

.singleSuggestion-dark{
 
  background-color: $secFire;
  border: 1px solid $fire;
}