$fire: #63cace;
$secFire: #41888c;
$thirdFire: black;
$forthFire: #5ea0a3;

.banner-dragon {
  background: rgb(253, 253, 255);
  color: white;
  background: linear-gradient(
    90deg,
    rgba(253, 253, 255, 1) 0%,
    $fire 40%,
    rgba(0, 0, 0, 1) 56%,
    $secFire 81%,
    $fire 95%
  );
}

.search-bar-dragon {
  background-color: $fire;
}
.search-input-dragon {
  border: 5px solid $thirdFire;

  color: black;
  background-color: $secFire;
}

.btn-dragon {
  background-color: $secFire;
  border: 5px solid black;
}

.main-img-container-dragon {
  background-color: $fire;
}
.main-img-dragon {
  border: 5px solid $thirdFire;
  background-color: $secFire;
}

.description-dragon {
  color: white;
  background-color: $fire;
 
}
.name-type-dragon{
  color:$fire;
}

.details-btn-dragon {
  box-shadow: 1px 1px 1px $thirdFire;
  color: $thirdFire;
  background-color: $secFire;
  border: 5px solid black;
}



.moves-container-dragon {
  color: white;
  background-color: $secFire;
  border: 5px solid $fire;
}


.details-img-dragon {
  border: 5px solid $fire;
  background-color: black;
}

.singleSuggestion-dragon:hover{
  background-color: $fire;
  font-size: 21px;
  border: 2px solid black;
}

.singleSuggestion-dragon{
 
  background-color: $secFire;
  border: 1px solid $fire;
}

.evo-container-dragon{
  color:$fire;
  font-size: 3vh;
  border: 10px solid $secFire;
  
}

.evo-container-dragon:hover{
  background-color: $secFire;
  color: black;
  border-color: white;
}