$fire: #fcb5f5;
$secFire: #c185bb;
$thirdFire: black;
$forthFire: #ad62a5;

.banner-fairy {
  background: rgb(253, 253, 255);
  color: white;
  background: linear-gradient(
    90deg,
    rgba(253, 253, 255, 1) 0%,
    $fire 40%,
    rgba(0, 0, 0, 1) 56%,
    $secFire 81%,
    $fire 95%
  );
}

.search-bar-fairy {
  background-color: $fire;
}
.search-input-fairy {
  border: 5px solid $thirdFire;

  color: black;
  background-color: $secFire;
}

.btn-fairy {
  background-color: $secFire;
  border: 5px solid black;
}

.main-img-container-fairy {
  background-color: $fire;
}
.main-img-fairy {
  border: 5px solid $thirdFire;
  background-color: $secFire;
}

.description-fairy {
  color: white;
  background-color: $fire;
 
}
.name-type-fairy{
  color:$fire;
}

.details-btn-fairy {
  box-shadow: 1px 1px 1px $thirdFire;
  color: $thirdFire;
  background-color: $secFire;
  border: 5px solid black;
}



.moves-container-fairy {
  color: white;
  background-color: $secFire;
  border: 5px solid $fire;
}


.details-img-fairy {
  border: 5px solid $fire;
  background-color: black;
}

.singleSuggestion-fairy:hover{
  background-color: $fire;
  font-size: 21px;
  border: 2px solid black;
}

.singleSuggestion-fairy{
 
  background-color: $secFire;
  border: 1px solid $fire;
}
.evo-container-fairy{
  color:$fire;
  font-size: 3vh;
  border: 10px solid $secFire;
  
}

.evo-container-fairy:hover{
  background-color: $secFire;
  color: black;
  border-color: white;
}