$fire: #c64200;
$secFire: #7f2a00;
$thirdFire: black;
$forthFire: #5b1e00;

.banner-fighting {
  background: rgb(253, 253, 255);
  color: white;
  background: linear-gradient(
    90deg,
    rgba(253, 253, 255, 1) 0%,
    $fire 40%,
    rgba(0, 0, 0, 1) 56%,
    $secFire 81%,
    $fire 95%
  );
}

.search-bar-fighting {
  background-color: $fire;
}
.search-input-fighting {
  border: 5px solid $thirdFire;

  color: black;
  background-color: $secFire;
}

.btn-fighting {
  background-color: $secFire;
  border: 5px solid black;
}

.main-img-container-fighting {
  background-color: $fire;
}
.main-img-fighting {
  border: 5px solid $thirdFire;
  background-color: $secFire;
}

.description-fighting {
  color: white;
  background-color: $fire;
 
}
.name-type-fighting{
  color:$fire;
}

.details-btn-fighting {
  box-shadow: 1px 1px 1px $thirdFire;
  color: $thirdFire;
  background-color: $secFire;
  border: 5px solid black;
}



.moves-container-fighting {
  color: white;
  background-color: $secFire;
  border: 5px solid $fire;
}


.details-img-fighting {
  border: 5px solid $fire;
  background-color: black;
}

.singleSuggestion-fighting:hover{
  background-color: $fire;
  font-size: 21px;
  border: 2px solid black;
}

.singleSuggestion-fighting{
 
  background-color: $secFire;
  border: 1px solid $fire;
}
.evo-container-fighting{
  color:$fire;
  font-size: 3vh;
  border: 10px solid $secFire;
  
}

.evo-container-fighting:hover{
  background-color: $secFire;
  color: black;
  border-color: white;
}