$fire: rgba(255, 57, 57, 1);
$secFire: #f79a80;
$thirdFire: black;
$forthFire: #e2dd3b;

.banner-fire {
  background: rgb(253, 253, 255);
  color: white;
  background: linear-gradient(
    90deg,
    rgba(253, 253, 255, 1) 0%,
    $fire 40%,
    rgba(0, 0, 0, 1) 56%,
    $secFire 81%,
    $fire 95%
  );
}

.search-bar-fire {
  background-color: $fire;
}
.search-input-fire {
  border: 5px solid $thirdFire;

  color: black;
  background-color: $secFire;
}

.btn-fire {
  background-color: $secFire;
  border: 5px solid black;
}

.main-img-container-fire {
  background-color: $fire;
}
.main-img-fire {
  border: 5px solid $thirdFire;
  background-color: $secFire;
}

.description-fire {
  color: white;
  background-color: $fire;
  
}
.name-type-fire{
  color:$fire;
}

.details-btn-fire {
  box-shadow: 1px 1px 1px $thirdFire;
  color: $thirdFire;
  background-color: $secFire;
  border: 5px solid black;
}



.moves-container-fire {
  color: white;
  background-color: $secFire;
  border: 5px solid $fire;
}


.details-img-fire {
  border: 5px solid $fire;
  background-color: black;
}




.singleSuggestion-fire:hover{
  background-color: $fire;
  font-size: 21px;
  border: 2px solid black;
}

.singleSuggestion-fire{
 
  background-color: $secFire;
  border: 1px solid $fire;
}

