$fire: #42d656;
$secFire: #009b14;
$thirdFire: black;
$forthFire: #aa6000;

.banner-grass {
  background: rgb(253, 253, 255);
  color: white;
  background: linear-gradient(
    90deg,
    rgba(253, 253, 255, 1) 0%,
    $fire 40%,
    rgba(0, 0, 0, 1) 56%,
    $secFire 81%,
    $fire 95%
  );
}

.search-bar-grass {
  background-color: $fire;
}
.search-input-grass {
  border: 5px solid $thirdFire;

  color: black;
  background-color: $secFire;
}

.btn-grass {
  background-color: $secFire;
  border: 5px solid black;
}

.main-img-container-grass {
  background-color: $fire;
}
.main-img-grass {
  border: 5px solid $thirdFire;
  background-color: $secFire;
}

.description-grass {
  color: white;
  background-color: $fire;
 
}
.name-type-grass{
  color:$fire;
}

.details-btn-grass {
  box-shadow: 1px 1px 1px $thirdFire;
  color: $thirdFire;
  background-color: $secFire;
  border: 5px solid black;
}



.moves-container-grass {
  color: white;
  background-color: $secFire;
  border: 5px solid $fire;
}


.details-img-grass {
  border: 5px solid $fire;
  background-color: black;
}

.singleSuggestion-grass:hover{
  background-color: $fire;
  font-size: 21px;
  border: 2px solid black;
}

.singleSuggestion-grass{
 
  background-color: $secFire;
  border: 1px solid $fire;
}

.evo-container-grass{
  color:$fire;
  font-size: 3vh;
  border: 10px solid $secFire;
  
}