$fire: #A8702D;
$secFire: #7c5324;
$thirdFire: black;
$forthFire: #493013;

.banner-ground {
  background: rgb(253, 253, 255);
  color: white;
  background: linear-gradient(
    90deg,
    rgba(253, 253, 255, 1) 0%,
    $fire 40%,
    rgba(0, 0, 0, 1) 56%,
    $secFire 81%,
    $fire 95%
  );
}

.search-bar-ground {
  background-color: $fire;
}
.search-input-ground {
  border: 5px solid $thirdFire;

  color: black;
  background-color: $secFire;
}

.btn-ground {
  background-color: $secFire;
  border: 5px solid black;
}

.main-img-container-ground {
  background-color: $fire;
}
.main-img-ground {
  border: 5px solid $thirdFire;
  background-color: $secFire;
}

.description-ground {
  color: white;
  background-color: $fire;
 
}
.name-type-ground{
  color:$fire;
}

.details-btn-ground {
  box-shadow: 1px 1px 1px $thirdFire;
  color: $thirdFire;
  background-color: $secFire;
  border: 5px solid black;
}



.moves-container-ground {
  color: white;
  background-color: $secFire;
  border: 5px solid $fire;
}


.details-img-ground {
  border: 5px solid $fire;
  background-color: black;
}

