$fire: #2bd4ff;
$secFire: #219bba;
$thirdFire: black;
$forthFire: #186c82;

.banner-ice {
  background: rgb(253, 253, 255);
  color: white;
  background: linear-gradient(
    90deg,
    rgba(253, 253, 255, 1) 0%,
    $fire 40%,
    rgba(0, 0, 0, 1) 56%,
    $secFire 81%,
    $fire 95%
  );
}

.search-bar-ice {
  background-color: $fire;
}
.search-input-ice {
  border: 5px solid $thirdFire;

  color: black;
  background-color: $secFire;
}

.btn-ice {
  background-color: $secFire;
  border: 5px solid black;
}

.main-img-container-ice {
  background-color: $fire;
}
.main-img-ice {
  border: 5px solid $thirdFire;
  background-color: $secFire;
}

.description-ice {
  color: white;
  background-color: $fire;
 
}
.name-type-ice{
  color:$fire;
}

.details-btn-ice {
  box-shadow: 1px 1px 1px $thirdFire;
  color: $thirdFire;
  background-color: $secFire;
  border: 5px solid black;
}



.moves-container-ice {
  color: white;
  background-color: $secFire;
  border: 5px solid $fire;
}


.details-img-ice {
  border: 5px solid $fire;
  background-color: black;
}

.singleSuggestion-ice:hover{
  background-color: $fire;
  font-size: 21px;
  border: 2px solid black;
}

.singleSuggestion-ice{
 
  background-color: $secFire;
  border: 1px solid $fire;
}

.evo-container-ice{
  color:$fire;
  font-size: 3vh;
  border: 10px solid $secFire;
  
}
.evo-container-ice:hover{
  background-color: $secFire;
  color: black;
  border-color: white;
}