$fire: #b28593;
$secFire: #7f5d67;
$thirdFire: black;
$forthFire: #6d525a;

.banner-normal {
  background: rgb(253, 253, 255);
  color: white;
  background: linear-gradient(
    90deg,
    rgba(253, 253, 255, 1) 0%,
    $fire 40%,
    rgba(0, 0, 0, 1) 56%,
    $secFire 81%,
    $fire 95%
  );
}

.search-bar-normal {
  background-color: $fire;
}
.search-input-normal {
  border: 5px solid $thirdFire;

  color: black;
  background-color: $secFire;
}

.btn-normal {
  background-color: $secFire;
  border: 5px solid black;
}

.main-img-container-normal {
  background-color: $fire;
}
.main-img-normal {
  border: 5px solid $thirdFire;
  background-color: $secFire;
}

.description-normal {
  color: white;
  background-color: $fire;
 
}
.name-type-normal{
  color:$fire;
}

.details-btn-normal {
  box-shadow: 1px 1px 1px $thirdFire;
  color: $thirdFire;
  background-color: $secFire;
  border: 5px solid black;
}



.moves-container-normal {
  color: white;
  background-color: $secFire;
  border: 5px solid $fire;
}


.details-img-normal {
  border: 5px solid $fire;
  background-color: black;
}

