


$fire: #8127e8;
$secFire: #55189b;
$thirdFire: black;
$forthFire: #44127c;


.banner-poison {
  background: rgb(253, 253, 255);
  color: white;
  background: linear-gradient(
    90deg,
    rgba(253, 253, 255, 1) 0%,
    $fire 40%,
    rgba(0, 0, 0, 1) 56%,
    $secFire 81%,
    $fire 95%
  );
}

.search-bar-poison {
  background-color: $fire;
}
.search-input-poison {
  border: 5px solid $thirdFire;

  color: black;
  background-color: $secFire;
}

.btn-poison {
  background-color: $secFire;
  border: 5px solid black;
}

.main-img-container-poison {
  background-color: $fire;
}
.main-img-poison {
  border: 5px solid $thirdFire;
  background-color: $secFire;
}

.description-poison {
  color: white;
  background-color: $fire;
 
}
.name-type-poison{
  color:$fire;
}

.details-btn-poison {
  box-shadow: 1px 1px 1px $thirdFire;
  color: $thirdFire;
  background-color: $secFire;
  border: 5px solid black;
}



.moves-container-poison {
  color: white;
  background-color: $secFire;
  border: 5px solid $fire;
}


.details-img-poison {
  border: 5px solid $fire;
  background-color: black;
}

.singleSuggestion-poison:hover{
  background-color: $fire;
  font-size: 21px;
  border: 2px solid black;
}

.singleSuggestion-poison{
 
  background-color: $secFire;
  border: 1px solid $fire;
}


.evo-container-poison{
  color:$fire;
  font-size: 3vh;
  border: 10px solid $secFire;
  
}

.evo-container-poison:hover{
  background-color: $secFire;
  color: black;
  border-color: white;
}