$fire: #ff7ff2;
$secFire: #9e008e;
$thirdFire: black;
$forthFire: #c054ff;

.banner-psychic {
  background: rgb(253, 253, 255);
  color: white;
  background: linear-gradient(
    90deg,
    rgba(253, 253, 255, 1) 0%,
    $fire 40%,
    rgba(0, 0, 0, 1) 56%,
    $secFire 81%,
    $fire 95%
  );
}

.search-bar-psychic {
  background-color: $fire;
}
.search-input-psychic {
  border: 5px solid $thirdFire;

  color: black;
  background-color: $secFire;
}

.btn-psychic {
  background-color: $secFire;
  border: 5px solid black;
}

.main-img-container-psychic {
  background-color: $fire;
}
.main-img-psychic {
  border: 5px solid $thirdFire;
  background-color: $secFire;
}

.description-psychic {
  color: white;
  background-color: $fire;
 
}
.name-type-psychic{
  color:$fire;
}

.details-btn-psychic {
  box-shadow: 1px 1px 1px $thirdFire;
  color: $thirdFire;
  background-color: $secFire;
  border: 5px solid black;
}



.moves-container-psychic {
  color: white;
  background-color: $secFire;
  border: 5px solid $fire;
}


.details-img-psychic {
  border: 5px solid $fire;
  background-color: black;
}

.singleSuggestion-psychic:hover{
  background-color: $fire;
  font-size: 21px;
  border: 2px solid black;
}

.singleSuggestion-psychic{
 
  background-color: $secFire;
  border: 1px solid $fire;
}

.evo-container-psychic{
  color:$fire;
  font-size: 3vh;
  border: 10px solid $secFire;
  
}