$fire: #38bc83;
$secFire: #20704d;
$thirdFire: black;
$forthFire: #0f3826;

.banner-steel {
  background: rgb(253, 253, 255);
  color: white;
  background: linear-gradient(
    90deg,
    rgba(253, 253, 255, 1) 0%,
    $fire 40%,
    rgba(0, 0, 0, 1) 56%,
    $secFire 81%,
    $fire 95%
  );
}

.search-bar-steel {
  background-color: $fire;
}
.search-input-steel {
  border: 5px solid $thirdFire;

  color: black;
  background-color: $secFire;
}

.btn-steel {
  background-color: $secFire;
  border: 5px solid black;
}

.main-img-container-steel {
  background-color: $fire;
}
.main-img-steel {
  border: 5px solid $thirdFire;
  background-color: $secFire;
}

.description-steel {
  color: white;
  background-color: $fire;
 
}
.name-type-steel{
  color:$fire;
}

.details-btn-steel {
  box-shadow: 1px 1px 1px $thirdFire;
  color: $thirdFire;
  background-color: $secFire;
  border: 5px solid black;
}



.moves-container-steel {
  color: white;
  background-color: $secFire;
  border: 5px solid $fire;
}


.details-img-steel {
  border: 5px solid $fire;
  background-color: black;
}

.singleSuggestion-steel:hover{
  background-color: $fire;
  font-size: 21px;
  border: 2px solid black;
}

.singleSuggestion-steel{
 
  background-color: $secFire;
  border: 1px solid $fire;
}
.evo-container-steel{
  color:$fire;
  font-size: 3vh;
  border: 10px solid $secFire;
  
}